
body { margin: 5pt; }

table.frame { margin-bottom: 10pt; border: 1px solid darkgrey; width: 100%}
table.noborder { border: 0px solid darkgrey; }
table.bordered { border: 1px solid darkgrey; }
td.bordered { border: 1px solid gray; padding: 5pt; }

.framenet-header {
    border: 1px solid gray;
    background-color: #00796B;
    color: #FFFFFF;
}

.back-button {
    font-size: 16px;
    margin-bottom: 15px;
}

.pure-frames-btn {
    font-size: 16px !important;
    margin-bottom: 15px !important;
}

.frames {
    margin-top: 10px;
}

.frame-name {
    font-size: 16px;
}

.vn-class {
    border-bottom: 1px solid #D1D2D4;
    font-size: 24px;
    margin-top: 5px;
}

.vn-class-plus {
    float: right;
}

.vn-class-name:hover {
    text-decoration: none;
}

.vn-member {
    font-size: 16px;
}

.vnlink > a:link { color: black; text-decoration: none; }
.vnlink > a:visited { color: darkblue; text-decoration: none; }
.vnlink > a:hover { color: darkred; text-decoration: underline; font-weight: xbold; }
.vnlink > a:active { color: black; text-decoration: none; }

/* used in variables: "x<sub>2</sub>" */
sub { font-size: 60%; }

/* link to verbnet on index page */
.header_link { padding-left: 5pt; margin-bottom: 10pt; font-size: 150%; font-weight: bold}

/* header row of tables on index page */
.header { background-color: skyblue; border: 1px solid red; }

/* other rows of tables on index page */
.vnlink { background-color: #f6ffff; }

/* header of one of the semantics elements (qualia etc) */
.semheader { margin-bottom: 8pt; font-style: italic; }

/* frame rows */
tr.vn { background-color: #f6ffff; } /* #e8ffff is closest to verbnet page */
tr.description, tr.roles {
    background-color: rgb(195, 230, 252); /* skyblue tinted by 0.5 */
    font-weight: bold; }

/* predicates formatted as in verbnet page */
.pred { font-weight: bold; color: darkred; font-variant: small-caps; }

/* opposition qualia element */
.opposition { color: darkblue; }

/* displaying subcat elements */
.role { font-weight: bold; font-variant: small-caps; }
.verb { font-weight: bold; color: darkgreen; font-variant: small-caps; }
.prep { font-weight: bold; color: darkblue; font-variant: small-caps; }
.cat { font-variant: small-caps; }