appdirs==1.4.3
beautifulsoup4==4.5.3
bs4==0.0.1
definitions==0.2.0
lxml==4.9.1
nltk>=3.4.5
numpy==1.22.0
packaging==16.8
pyparsing==2.2.0
PyYAML==5.4
requests==2.31.0
sets==0.3.2
six==1.10.0
xml-diff==0.7.0
xmldiff==0.6.10
